@tailwind base;
@tailwind components;
@tailwind utilities;

.categories{
    overflow: overlay;
}
.categories::-webkit-scrollbar{
    width: 6px;
}
.categories::-webkit-scrollbar-thumb{
    background-color: rgb(131, 129, 127);
    border-radius: 20px;
}

.categories::-webkit-scrollbar-track{
    margin: 10px;
    border-radius: 20px;
    background-color: transparent;
}